/* allow for smooth scrolling on webpage */
html {
    scroll-behavior: smooth;
}

/* change background colour of jumbotron (heading block of webpage) */
.jumbotron {
    background-color: whitesmoke;
}

/* align top of name with picture */
#name {
    margin-top: 0px;
}

/* align id headers with the rest of the content */
#about {
    padding-left: 15px;
    font-weight: bold;
}

#exp {
    padding-left: 15px;
    font-weight: bold;
}

#edu {
    padding-left: 15px;
    font-weight: bold;
}

#aa {
    padding-left: 15px;
    font-weight: bold;
}

#skill {
    padding-left: 15px;
    font-weight: bold;
}

#project {
    padding-left: 15px;
    font-weight: bold;
}

#contact {
    padding-left: 15px;
    font-weight: bold;
}

#ref {
    padding-left: 15px;
    font-weight: bold;
}

/* move picture to align with columns */
#pic {
    border: 1px solid rgba(184, 184, 184, 0.842);
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

.container .row {
    border: 10px solid whitesmoke;
    border-radius: 10px;
}

body {
    font-size: 20px;
}

.topic {
    font-style: italic;
}

.date {
    font-style: italic;
}

.notice {
    font-weight: bolder;
}

:any-link:hover {
    font-style: italic;
}

#info {
    font-size: 18px;
}

.refer {
    padding-left: 15px;
}
